node-red Flow/Tasmota-flow.json
[{"id":"5795160.85dc4ec","type":"tab","label":"Tasmota","disabled":false,"info":""},{"id":"cd90b324.28","type":"mqtt in","z":"5795160.85dc4ec","name":"Brain","topic":"#","qos":"2","datatype":"auto","broker":"8c38dd2c.51fb5","x":110,"y":240,"wires":[["1e82f258.d61d86","7e2fc752.f1c69"]]},{"id":"f01f1a85.aac838","type":"mqtt out","z":"5795160.85dc4ec","name":"Brain","topic":"","qos":"0","retain":"true","broker":"8c38dd2c.51fb5","x":1010,"y":120,"wires":[]},{"id":"1e82f258.d61d86","type":"debug","z":"5795160.85dc4ec","name":"input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"ede82a90.50a3","type":"debug","z":"5795160.85dc4ec","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":220,"wires":[]},{"id":"f3c4a674.5e02e8","type":"function","z":"5795160.85dc4ec","name":"Add-entry","func":"if (!((msg.topic.startsWith('tele/')) && (msg.topic.endsWith('/LWT'))))\n    return null;\nvar SOURCEIP = msg.SOURCEIP || \"\"\nif (SOURCEIP == \"\")\n    return null\n\nvar AlreadyIn = false;\nvar MyTasmotas = flow.get(\"MyTasmotas\") || []\nmsg.Counter = MyTasmotas.length\n\nfor (i=0;i<MyTasmotas.length;i++)\n    if ((MyTasmotas[i] == msg.topic+'@'+msg.SOURCEIP)) {\n        AlreadyIn = true;\n    }\nif (!AlreadyIn) {\n        MyTasmotas.push(msg.topic+'@'+msg.SOURCEIP);\n    }\nflow.set(\"MyTasmotas\",MyTasmotas)\nmsg.payload = MyTasmotas;\nmsg.topic = \"meta/tasmotadiscovered\"; \nmsg.retain = false;\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":140,"wires":[[]]},{"id":"d11685eb.204f58","type":"function","z":"5795160.85dc4ec","name":"Generate output","func":"var MyJSON = '{\"NAME\":[';\nvar TheFirst = true;\n\nvar MyTasmotas = flow.get(\"MyTasmotas\") \nfor (i=0;i<MyTasmotas.length;i++) {\n    var Target = MyTasmotas[i].split('@')\n    if (TheFirst)\n        TheFirst = false \n    else\n        MyJSON = MyJSON + \",\"\n    MyJSON = MyJSON + '{\"ID\": \"'+ Target[0] + '\",\"MQTT\": \"' + Target[1] + '\"}' \n}\n    MyJSON = MyJSON + \"]}\"\nmsg.payload = MyJSON\nmsg.topic = \"meta/tasmotadiscovered\"; \nmsg.retain = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":220,"wires":[["ede82a90.50a3","f01f1a85.aac838"]]},{"id":"7e2fc752.f1c69","type":"switch","z":"5795160.85dc4ec","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"tele/","vt":"str"},{"t":"eq","v":"meta/GetTasmotas","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":180,"wires":[["f3c4a674.5e02e8"],["d11685eb.204f58"]]},{"id":"9489cde4.7d374","type":"inject","z":"5795160.85dc4ec","name":"Trigger result","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"meta/GetTasmotas","payload":"","payloadType":"date","x":150,"y":400,"wires":[["7e2fc752.f1c69"]]},{"id":"69e9d38f.126104","type":"mqtt in","z":"5795160.85dc4ec","name":"Tasmota-MQTT 0.31","topic":"#","qos":"2","datatype":"auto","broker":"2ac3f821.f9d068","x":150,"y":60,"wires":[["89668afd.a9b72"]]},{"id":"89668afd.a9b72","type":"change","z":"5795160.85dc4ec","name":"Add IP@0.31","rules":[{"t":"set","p":"SOURCEIP","pt":"msg","to":"192.168.0.31","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[["7e2fc752.f1c69","1e82f258.d61d86"]]},{"id":"27c21e4f.462d0a","type":"mqtt in","z":"5795160.85dc4ec","name":"Tasmota-MQTT 0.40","topic":"#","qos":"2","datatype":"auto","broker":"d22ee669.870998","x":150,"y":120,"wires":[["33afc680.abc49a"]]},{"id":"33afc680.abc49a","type":"change","z":"5795160.85dc4ec","name":"Add IP@0.40","rules":[{"t":"set","p":"SOURCEIP","pt":"msg","to":"192.168.0.40","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":120,"wires":[["1e82f258.d61d86","7e2fc752.f1c69"]]},{"id":"3a5bd5ed.8b4db2","type":"inject","z":"5795160.85dc4ec","name":"Clear cache","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":560,"wires":[["873167d2.84a65"]]},{"id":"873167d2.84a65","type":"function","z":"5795160.85dc4ec","name":"","func":"var MyTasmotas =  []\nflow.set(\"MyTasmotas\",MyTasmotas)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":560,"wires":[[]]},{"id":"8c38dd2c.51fb5","type":"mqtt-broker","name":"Brain on remote-IP","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ac3f821.f9d068","type":"mqtt-broker","name":"MQTT-192.168.0.31","broker":"192.168.0.31","port":"1883","clientid":"Tasmota-flow","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d22ee669.870998","type":"mqtt-broker","name":"MQTT-192.168.0.40","broker":"192.168.0.40","port":"1883","clientid":"Tasmota-Flow @ 31","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]